[submodule "3rdparty/fmt"]
	path = 3rdparty/fmt
	url = https://github.com/fmtlib/fmt
[submodule "3rdparty/argparse"]
	path = 3rdparty/argparse
	url = https://github.com/p-ranav/argparse
[submodule "3rdparty/CoreSymbolication"]
	path = 3rdparty/CoreSymbolication
	url = https://github.com/jevinskie/CoreSymbolication-cmake
[submodule "CoreSymbolication"]
	branch = jev/main
[submodule "3rdparty/interval-tree"]
	path = 3rdparty/interval-tree
	url = https://github.com/5cript/interval-tree
[submodule "3rdparty/zstd"]
	path = 3rdparty/zstd
	url = https://github.com/facebook/zstd
[submodule "3rdparty/metal-cpp"]
	path = 3rdparty/metal-cpp
	url = https://github.com/jevinskie/metal-cpp-mirror
	branch = cmake
[submodule "3rdparty/mbedtls"]
	path = 3rdparty/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls
[submodule "3rdparty/arch-arm64"]
	path = 3rdparty/arch-arm64
	url = https://github.com/jevinskie/arch-arm64
[submodule "3rdparty/perf-macos"]
	path = 3rdparty/perf-macos
	url = https://github.com/jevinskie/perf-macos
[submodule "3rdparty/benchmark"]
	path = 3rdparty/benchmark
	url = https://github.com/jevinskie/benchmark
[submodule "3rdparty/abseil-cpp"]
	path = 3rdparty/abseil
	url = https://github.com/abseil/abseil-cpp
[submodule "3rdparty/thread-pool"]
	path = 3rdparty/thread-pool
	url = https://github.com/bshoshany/thread-pool
[submodule "3rdparty/xxHash"]
	path = 3rdparty/xxHash
	url = https://github.com/Cyan4973/xxHash
[submodule "3rdparty/ut"]
	path = 3rdparty/ut
	url = https://github.com/boost-ext/ut
[submodule "3rdparty/libdivide"]
	path = 3rdparty/libdivide
	url = https://github.com/jevinskie/libdivide
	branch = jev/main
[submodule "3rdparty/compact_vector"]
	path = 3rdparty/compact_vector
	url = https://github.com/jevinskie/compact_vector
	branch = jev/main
[submodule "3rdparty/fastmod"]
	path = 3rdparty/fastmod
	url = https://github.com/jevinskie/fastmod
	branch = jev/main
[submodule "3rdparty/nanobench"]
	path = 3rdparty/nanobench
	url = https://github.com/martinus/nanobench
[submodule "3rdparty/range-v3"]
	path = 3rdparty/range-v3
	url = https://github.com/ericniebler/range-v3
[submodule "3rdparty/simde"]
	path = 3rdparty/simde
	url = https://github.com/simd-everywhere/simde
[submodule "3rdparty/static_vector"]
	path = 3rdparty/static_vector
	url = https://github.com/jevinskie/static_vector
[submodule "static_vector"]
	branch = jev/main
[submodule "3rdparty/Catch2"]
	path = 3rdparty/Catch2
	url = https://github.com/catchorg/Catch2
