# vscode
**/.vscode/

# build folder
/build/
/build-opt/
/build-dbg/

# mac
**/.DS_Store

# xcode
**/DerivedData
**/xcuserdata

# python
**/__pycache__
**/*.egg-info

# jupyter-notebook
**/*.ipynb_checkpoints

# nbdev
.last_checked
.irecovery

/.cache/
